.activity {
    display: flex;
    flex-direction: column;
    width: 72vw;
    margin: 3px;
    text-align: left;
    background: #ffffff0d;
    padding: 20px 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.result-box {
    overflow: hidden;
}

.icon-heart, .icon-trash {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    height: auto;
}
.icon-heart {
    left: -70px;
}

.icon-trash {
    right: -70px; 
}
